@model DAI.Models.ListOfEventsTrafficAccident

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ListOfEventsTrafficAccident</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.КодКатегоріїПодіїNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.КодКатегоріїПодіїNavigation.КодКатегорії)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.НомерTrafficAccidentNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.НомерTrafficAccidentNavigation.НомерTrafficAccident)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.КодЗапису">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
