@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">List of Procedures and Functions</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="GetOrganizationsByCriteria" asp-action="Index">GetOrganizationsByCriteria Procedure</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="GetOwnerInfoByLicensePlate" asp-action="Index">GetOwnerInfoByLicensePlate Procedure</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="VehicleInfo" asp-action="Index">VehicleInfo Procedure</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="GetDTPIAnalysis" asp-action="Index">GetDTPIAnalysis Function</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="WantedCar" asp-action="Index">WantedCar Function</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="CalculateSearchEfficiency" asp-action="Index">CalculateSearchEfficiency Function</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="GetPopularTheftMethods" asp-action="Index">GetPopularTheftMethods Function</a>
  
</div>