@model DAI.Models.DriverCategory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DriverCategory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.НазваКатегорії)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.НазваКатегорії)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Опис)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Опис)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.КодЗапису">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
