@model List<DAI.Models.GetDTPIAnalysis>
@{
    ViewData["Title"] = "DTPI Analysis";
}

<h1>DTPI Analysis</h1>

<table class="table">
    <thead>
        <tr>
            <th>Небезпечне Місце</th>
            <th>Кількість Подій</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Небезпечне_Місце</td>
                <td>@item.Кількість_Подій</td>
            </tr>
        }
    </tbody>
</table>
